
  .card{
      width:200px;
      height:200px;
      background-color: none;
      margin:5%;
      border-color:black;

      .card-title{

          color:white;
          padding:20%;
      }
      

      .card-img{
        height: 100%;
        opacity: 0.75; 
    }

      .a{
          padding:2%;
      }
      
      
  }

//   .card-img-overlay{
//       width:30%;
//       height:30%；
//   }
  


  .card:hover{ 
      .card-img{
        height: 100%;
        opacity: 0.2;
      }
  }


  
  