.hr{ 
  height: 2px;  
  width: 100%;
  margin: 0;
  color: black;
}

.container{
  margin: 0;
  max-height: 100%;
  max-width: 100%;
  padding: 2vh;
}

.carousel {
    
    max-height: 100%;
    max-width: 100%;
   
}

.container{
  margin:0;
  max-height:80%;
  max-width: 100%;
  padding: 3vh;
}

.card-deck{
    max-height: 40vh;
    max-width: 85%;
    margin: auto;

    
    .card {
      width: 100%;
      height: 100%;
      
      img{
        width: 100%;
        height: 15vh;
      }
      
    }
    
    .card-body {
        height: 30vh;
        overflow: scroll;
    }
  }

  .card {
    width: 100%;
    height: 100%;
    overflow: scroll;
    img {
      max-width:100%;
      height: 15vh;
      margin: auto;
    }
  }

  .card-body {
      height: 30vh;
      overflow: scroll;
  }


/*reference: change of carousel label idea from TrinitA on StackOverFlow*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: none;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: grey;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: grey;
}

