.carousel {
    
    max-height: 100%;
    max-width: 100%;
   
    img {
        max-width:100%;
        max-height:50%;
    }
}


.card-deck{
    max-height: 100%;
    max-width: 80%;
    margin: auto;
    button {
        margin: auto;
    }
}

/*reference: change of carousel label idea from TrinitA on StackOverFlow*/
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: none;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: grey;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: grey;
}