@import '../variables';

body{
  h1 {
    color: $dark;
  }
  p {
    color: $gray-800;
  }
}

.section {

    h1{
      font-size: 5rem;
      padding-top: 1.5rem;
    }
    height: 100vh;
    width: 100vw;
    

    div.tile{
      z-index: -999;
      padding: 1rem;
      border-radius: 8px;
      width: 100%;
      height: 100%;
      min-width: 200px;
      min-height: 200px;

      &-blue {
        color: $white;
        background-color: darken($blue, 5%);
      }
    
      &-indigo {
        background-color: darken($indigo, 5%);
      }
    
      &-purple {
        background-color: darken($purple, 5%);
      }
    
      &-pink {
        background-color: darken($pink, 5%);
      }
    
      &-red {
        background-color: darken($red, 5%);
      }
    
      &-orange {
        background-color: darken($orange, 5%);
      }
    
      &-yellow {
        background-color: darken($yellow, 5%);
      }
    
      &-green {
        background-color: darken($green, 5%);
      }
  
      &-teal{
        background-color: darken($teal, 5%);
      }

    }
}

.section-dark {
  background: #333;
  color: white;
}

.section-content {
  max-width: 90vw;
  max-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
}

.events_box{
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: normal;
  border: 1px solid #ddd;
  border-radius: 8px;
  height: 24.6vh;
}

.activity{
  height: 19vh;
  width: 23vh;
  border-radius: 4px;
  border: 1px solid rgb(153, 144, 144);
}

.event_image{
  border-radius: 4px;
  width: 100%;
  height: 70px;
}

.activity:hover {
  box-shadow: 0 0 2px 1px orange;
}

.header_event{
  text-align: left;
  margin:1vh;
  display:inline;
  padding-top: 0vh;
}

.row{
  padding-top: 1vh;
  padding-left: 1vh;
  padding-right: 1vh;
}

.more{
  text-align: right;
  margin:70vw;
  display:inline;
}